VideoCodecKitDemo/VideoCodecKitDemo/VideoCodecKit/Vendor/binary/ffmpeg
VideoCodecKitDemo/VideoCodecKitDemo.xcodeproj/project.xcworkspace/xcshareddata
VideoCodecKitDemo/VideoCodecKitDemo.xcodeproj/project.xcworkspace/xcuserdata
VideoCodecKitDemo/VideoCodecKitDemo.xcodeproj/xcuserdata
VideoCodecKit/VideoCodecKit/Vendor/binary/ffmpeg
